<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <h1>Welcome to My Page</h1>
        <h3>Here, you will learn about ninjas and dojos</h3>
        <p>Have Fun!</p>
        <p>Type "/ninjas" to the end of the URL to learn more about ninjas</p>
        <p>Type "/dojos/new" to the end of the URL to learn more about dojos</p>
    </body>
</html>