* {
    text-align: center;
    font-family: arial, sans-serif;
}

h1 {
    margin-top: 20%;
}

.wrong {
    width: 20%;
    margin-left: 38%;
    padding: 30px;
    background-color: red;
}

.right {
    width: 20%;
    margin-left: 38%;
    padding: 30px;
    background-color: green;
}