.container {
	width: 850px;
	
	margin: 25px auto;

}

h2, h4,form {
	text-align: center;
}

form {
	margin-top: 50px;
}

 .col-md-3 {
	border: 3px solid black;
	margin: 10px 5px;
	align-content: center;
	height: 200px;
	width: 200px;

}

.col-md-12 {
	margin: 0px !important;
}

div#history {
	height: 150px;
	overflow: auto;
	border: 2px solid black;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

span.earned {
	color: green;


}

span.loss {
	color: red;
}