body {
    background-color: gray;
    padding: 20%;
}

h2 {
    text-decoration: underline;
}

div {
    padding: 2%;
    background-color: white;
    border: 2px solid black;
}

div p {
    text-align: left;
    margin-right: 45%;
    display: inline-block;
}